# URL для серверных запросов из контейнера Next.js → backend
INTERNAL_API_URL=http://backend:8000

# URL, который видит браузер пользователя
NEXT_PUBLIC_API_URL=http://localhost:8000

# URL медиа (картинки из админки)
NEXT_PUBLIC_MEDIA_URL=http://localhost:8000
